/*#Content_Foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
}*/

html, body {
    height: 100%;
}
th, td {
    padding: 10px;
}
#Content_Foot {
  position:absolute;
  bottom:0;
  width:98%;
}

#Content_Content{
  overflow: auto;
  height: 525px;
}

.InfoWrong{
  background-color: rgb(255, 128, 128);
}

#Title_Logo,#Pht_Carrel,#Pht_Benzonana,.Bt_Edit{
    cursor: pointer;
}

.glyphicon{position:relative;top:1px;display:inline-block;font-family:"Glyphicons Halflings";font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.glyphicon-pencil:before{content:"\270f"}
.glyphicon-user:before{content:"\e008"}
