/*
Christopher pardo
10.11.2019
Voyage_Participants
*/

html, body {
    height: 100%;
}
th, td {
    padding: 10px;
}
#Content_Foot {
  position:absolute;
  bottom:0;
  width:98%;
}

#Content_Content{
  overflow: auto;
  height: 525px;
}

#InfoTable{
  border-collapse: collapse;
  width: 100%;
}

.InfoWrong{
  background-color: rgb(255, 128, 128);
}

#Title_Logo,#Pht_Carrel,#Pht_Benzonana,.Bt_Edit{
    cursor: pointer;
}
